* {
    box-sizing: border-box;
}

body {
    background-image: url('http://images.iop.org/objects/phw/news/15/5/32/star1.jpg');
    min-height: 100%;
    min-width: 100%; 
}

#title-crystal {
    margin: 2px 17px;
    background-color: rgb(150, 111, 40);
    color: white;
}

.display-4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
#instructions {
    margin: 2px 17px;
    background-color: tan;
    color: green;
}

#random-result {
    margin: 2px 2px 2px 17px;
    background-color: green;
    color: purple;
    font-size: 30px;
}

#wins-losses {
    margin: 2px 2px 2px 17px;
    background-color: rgb(21, 212, 226);
}
.crystals{
    display: flex;
    margin: 2px;
}

.crystal {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    background-color: white;
}

#total-is {
    background-color: #25acac;
    color: black;
    margin: 2px 17px;

}

#total-score {
    background-color: #25acac;
    color: black;
    margin: 2px 17px
}