* {
    box-sizing: border-box;
}

body {
    background: url('./assets/images/background.jpg')
}

#title-crystal {
    margin: 2px;
    background-color: rgb(150, 111, 40);
    color: white;
}

#instructions {
    margin: 2px;
    background-color: tan;
    color: green;
}

#random-result {
    margin: 2px;
    background-color: green;
    color: purple;
    font-size: 30px;
}

#wins-losses {
    margin: 2px;
    background-color: rgb(21, 212, 226);
}
.crystals{
    display: flex;
    margin: 2px;
}

.crystal {
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

#total-is {
    background-color: aqua;
    color: white;
}

#total-score {
    background-color: #00ffff;
    color: white;
}